.wappFormPeople{
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}

.wappFormPeople input{
    border-radius: 8px;
    padding: 5px;
    margin: 0 0 8px 0;
    font-size: 18px;
    width: 100%;
    border: 1px solid gray;
    outline: none
}

.wappFormPeople button{
    transition: all 0.2s linear;
    border-radius: 8px;
    font-size: 18px;
    display: block;
    margin: auto;
    outline: none;
    background-color: rgb(49, 136, 207);
    color: white;
    border: none;
    padding: 5px 12px;
}
.wappFormPeople button:hover{
    background-color: rgb(15, 110, 189);
    cursor: pointer;

}